/* Ensure alignment of mat-list-item content */
mat-nav-list a {
height: 26px; 
}
mat-nav-list a span{
  font-size: 10px;
  align-items: center;  /* Vertically align the icon and text */
}

/* Adjust the mat-icon to align properly */
mat-nav-list a mat-icon {
  margin-right: 8px;  /* Add space between the icon and the text */
  font-size: 16px;
  display: inline-flex;  /* Ensure icon stays inline with the text */
  justify-content: center;
  align-items: center;  /* Align the icon vertically */
}

.active {
  font-weight: bold;
  color: #1976d2; /* Example active color */
}

h3 {
  margin: 0px 10px;  /* Reduce margin for section titles */
  font-size: 1rem;  /* Smaller font size for section titles */
  color: #666;
}

